#codigoArea {
    -fx-font-family: "Consolas";
    -fx-font-size: 11pt;
}

#codigoArea .content {
    -fx-padding: 10px;
}

.pagination .page-information {
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-padding: 0;
    -fx-opacity: 0;
    visibility: hidden;
}

.pagination .number-button,
.pagination .bullet-button {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-padding: 0;
    -fx-opacity: 0;
    visibility: hidden;
}