#codigoArea {
    -fx-font-family: "Consolas";
    -fx-font-size: 11pt;
}

#codigoArea .content {
    -fx-padding: 10px;
}


.pagination .page-navigation-area > .number-button {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-padding: 0;
    -fx-opacity: 0;
}


.pagination .page-navigation-area > .bullet-button {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-padding: 0;
    -fx-opacity: 0;
}

.pagination .control-box {
    -fx-spacing: 0;
}